.container_outer {
  /*ทั้งกระดาน*/
    display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: purple; */
  width: 100%;
  max-width: 1800px;  
  margin: 0 auto; 
}
.container_top {
    display: flex;           
    flex-direction: row; 
    /* background-color: red; */
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 15px;
    height: 100;
}
.container_bottom {
    /* รูป*/
    display: flex;
    /* background-color: green; */
    flex-direction: row;     
    justify-content: center; 
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    flex-grow: 1;
    width: 90%;
    height: 75%;
    padding: 20px;
}
.login_container_top {
  /* SignLab ฉันมีบัญชีอยู่แล้ว*/
  display: flex;           
  flex-direction: row; 
  /* background-color: red; */
  justify-content: center; /* เปลี่ยนเป็น center เพื่อให้เนื้อหาอยู่ตรงกลาง */
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 15px;
  height: 100px; /* เพิ่ม px */
  position: relative; /* เพิ่มเพื่อให้สามารถทำ absolute positioning ได้ */
}
.first_container_bottom_left {
    /*เรียนภาษามือพร้อมกับ ปุ่ม มาเริ่มกันเลย*/
    /* background-color: blue; */
  display: flex;           
  flex-direction: column;     
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 500px; 
}

.login_container_outer {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;     
    justify-content: center; 
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    flex-grow: 1;
    width: 90%;
    height: 75%;
    padding: 20px;
}
.login_container_inner {
    /* background-color: red; */
    display: flex;           
    flex-direction: row; 
    /* border-bottom: 1px solid lightgray;  */
    justify-content: left; 
    align-items: center;
    gap: 30px;
    text-align: center;
    width: 80%;
    padding: 15px;
    height: auto;
  }
  .login_container_inner_right {
    /* background-color: rgb(123, 218, 59); */
    display: flex;
    flex-direction: column;     
    justify-content: left; 
    align-items: left;
    text-align: left;
    padding-left: 10px;
    
    gap: 10px;
    margin-top: 50px;
    flex-grow: 1;
    width: auto;
    height: auto;
  }
  .forgot_container_form
  {
    /* background-color: red; */
    display: flex;           
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 15px;
    height: auto;
  }
  .otp_container_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}

.otp_white_box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_left
{
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  /* margin-left: 10px; */
  padding: 15px;
}
.Nav_bar
{
  display:flex;
  flex-direction: column;
  background-color: var(--skyblue);
  width: auto;
  gap:15px;
  padding : 5px;
  padding-left: 20px;
  padding-right:20px;
  min-height: 100vh; 
  box-shadow: 1;
}